<h2>Converting a Word Document is as easy as 1, 2, 3...</h2>

<% unless error.nil? %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h3>Step 1</h3>
    <h4>Export the Word Document as HTML</h4>
    <p>
      <a href="/export.gif">
        <img src="/export.gif" alt="Export via File -> Save as Web Page"/>
      </a>
    </p>
    <ol class="instructions">
      <li>Open the document in Microsoft Word</li>
      <li>Select "File" &rarr; "Save as Web Page"</li>
      <li>Click Save</li>
    </ol>
  </div>
  <div class="col-md-4">
    <h3>Step 2</h3>
    <h4>Upload the resulting <code>.html</code> file</h4>
    <a href="/export.gif">
      <img src="/upload.gif" alt="Drag and drop the file to upload" id="upload" />
    </a>
    <p class="instructions">Drag-and-drop the file below to upload</p>
  </div>
  <div class="col-md-4">
    <h3>Step 3</h3>
    <h4>Get back crisp, clean Markdown</h4>
    <pre id="example-md">
# H1

Paragraph

## H2

Paragraph

### H3

Paragraph
</pre>
<p class="instructions">Use it on <a href="https://github.com">GitHub</a> or elsewhere</p>
  </div>
</div>

<form class="form" method="POST" enctype="multipart/form-data" id="form">
  <input type="file" class="file" name="doc" id="doc" value="FOO">
  <input type="submit" class="btn btn-primary" value="Convert" id="submit">
</form>
