body {font-size: 2em;  padding: 25px 100px 25px 100px; text-align: center; }
footer { margin: 40px 0 20px; }
.moar {text-align: center; margin-top: 100px; }
.md-preview, pre { text-align: left; }
.rendered-preview { border: 1px solid #ccc; padding: 15px; text-align: left; }
img {width: 100%}
ol.instructions { text-align: left;}
.instructions {font-size: .75em;}
#doc { width: 100%; padding: 10px; border: 1px solid #ccc; line-height: 0; }
#submit {margin-left: auto; margin-right: auto; margin-top: 25px; font-size: 1.2em; }
#upload {margin-top: 50px; margin-bottom: 50px; }
#example-md { margin-top: 50px; margin-bottom: 50px;  }
